PORT=3000
AUTOGESTION_BASE_URL=https://url.ar #Url autogestión para consultar usuarios (ver en docs).
AUTH_ROUTE_PATH=sso #Definimos la ruta principal. Ejemplo :3000/oauth. Después acá colgamos el login y resto de endpoints.

JWT_ACCESS_SECRET=cambia_este_secret_acceso
JWT_REFRESH_SECRET=cambia_este_secret_refresco
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=1d