# Server
PORT=3000
AUTH_ROUTE_PATH=sso
CODE_TTL_MS=120000      #Code que se entrega a quienes consultan el SSO. 120000 = 2 minutos.

# Autogestión
AUTOGESTION_BASE_URL=https://url.ar

# Front
ADMIN_PANEL_URL=http://localhost:5173

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=sso_frvm

# JWT alumnos
JWT_ACCESS_SECRET=cambia_este_secret_acceso
JWT_REFRESH_SECRET=cambia_este_secret_refresco
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# JWT admins - DEBE SER DISTINTO AL DE ALUMNOS!!
JWT_ADMIN_ACCESS_SECRET=cambia_este_secret_admin_acceso
JWT_ADMIN_REFRESH_SECRET=cambia_este_secret_admin_refresco
JWT_ADMIN_ACCESS_EXPIRES_IN=15m
JWT_ADMIN_REFRESH_EXPIRES_IN=7d

# Seeder
ADMIN_USERNAME_SEEDER=admin
ADMIN_PASSWORD_SEEDER=cambia_esta_password_min_8_caracteres

# Credenciales para ver la documentación
SWAGGER_USER=admin
SWAGGER_PASSWORD=cambia_esta_password_swagger

# Email
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tu_correo@gmail.com
MAIL_PASS=tu_app_password
MAIL_FROM=tu_correo@gmail.com